* {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  min-height: 100%;
}
#main-header {
  border-bottom: solid 2px lawngreen;
}
.main-hr-divs > h3{
  padding: 15px;
  color: white;
}

.main-nav, .main-nav ul, .main-hr-divs > h3 {
  background-color: grey;
}

.main-nav ul {
  font-size: 0;
}

.main-nav a {
  display: block;
  color: lawngreen;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
}

.main-nav li {
  list-style-type: none;
  min-width: 100px;
}

.main-men > li {
  display: inline-block;
  position: relative;
}

.sub-men {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /*font-size: 15px;*/
}

.main-men li a:hover {
  background-color: lawngreen;
  color: grey;
}

.main-men > li:hover .sub-men {
  display: block;
}

.sub-men > li {
  position: relative;
} 

.sub-sub-men {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

.sub-men > li:hover .sub-sub-men  {
  display: block;
}

#main-heading {
  margin: 40px 0 40px;
  color: grey;
  text-align: center;
}

.main-table, .main-table td {
  border: 1px solid lawngreen;
}

.main-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.main-table caption {
  background-color: grey;
  color: white;
  padding: 15px;
}

.main-table tr:nth-child(2n) {
  background-color: lightgray;
}

.main-table th {
  background-color: lawngreen;
  border: 1px solid white;
  color: grey;
  padding: 10px;
}

.main-table td {
  padding: 10px;
}

.main-table td:hover {
  cursor: pointer;
  color: red;
}

#main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0 10px;
  background-color: grey;
  color: lawngreen;
  text-align: center;
  font-size: 14px;
  border-top: solid 2px lawngreen;

}